* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    background: skyblue;
}
.container {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
}
.card {
    background: goldenrod;
    width: calc(15% - 10px);
    height: calc(25% - 10px);
    margin: 3px;
    position: relative;
}
.card:hover {
    cursor: src('noun_Shovel_2373641.png'), pointer ;
    border: 3px solid burlywood
}
.card p {
    font-size: 36px;
    color: purple;
}